//
   Created by Vlad on 22-Dec-16.
link(href='/stylesheets/style.css', rel='stylesheet')
table
    thead
        tr.head
        th First name
        th Last name
        th age
        th group
    tbody
        - var i = -1
        each val, key in persons
            - ++i
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td #{val.firstname}
            td(style="text-align:left") #{val.lastname}
            td #{val.age}
            td #{val.group}

//table(class="scroll")  -- pentru scroll daca-s multe persoane

//trebuia sa indici path la mongod


    // stai sa inteleg
    // mongod - asta cei?
    // asta tipa ca o instanta de baza de date, care tu o aprinzi si ea genereaza ceva fisiere
    //acum tu daca indici path, ea genereaza acolo fisiere, si daca exista ceva, ea le utilizeaza de acolo
    //mongo e ca un interface pentru lucru cu db//,
    // asta am inteles, lucrezi ca ina consola
    // bun, o data ce iai dat path ap ce se intimpla,? ii dai path la proiect??
    //da, este mapa data  -- in ea eu se primeste ca am pus db, toate inregistrarile sunt repartizate pe fisiere
    //in aceasta mapa. cand ii dai path, el stie de unde sa ia toate inregistrarile, toate db care exista
    //in mongoDB sunt documente si colectii. Colectia la noi este persons,
    // bun, acum,
    // eu daca vreau sa dac proxy
    // ap cum mai pornesc ?
    // cu node nu merge
    //trebuie sa mearga, el practic o sa fie ceva aparte, dupa o sa-l integram
    // eu vreau sa fac proxy, porneste pe ceva
    // cind cineva se conecteaza, sa ii trimata o pagina unde sa faca tot ce ii treb
    //cu trimiterea la pagina se poate de facut cum am facut si eu, chiar ii trimiti pagina ca raspuns
